.venv
__pycache__
.env
.mypy_cache
migrations
.DS_Store
*.sqlite3
*.pyc
.idea
*.iml
*.xml
*.log
*/migrations
/static/
debug.log
/media/
*.json
logstash.db
profiler_data/*.prof
celerybeat-schedule
elastic_scripts/output_*.csv
elastic_scripts/output/production_data/*.csv
core/fixtures/*.json
core/fixtures/companies.json
temp.txt
core/fixtures/*.json
elastic_scripts/compare.csv
scripts/resume_entities.jsonl
core/input/*.csv

