asgiref==3.5.0
astroid==2.9.3
backports.entry-points-selectable==1.1.0
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.11
coreapi==2.3.3
coreschema==0.0.4
distlib==0.3.3
Django==3.2.8
django-environ==0.8.1
djangorestframework==3.13.1
djangorestframework-jwt==1.11.0
drf-yasg==1.20.0
filelock==3.3.0
httplib2==0.20.4
idna==3.3
inflection==0.5.1
isort==5.10.1
itypes==1.2.0
Jinja2==3.0.3
lazy-object-proxy==1.7.1
MarkupSafe==2.0.1
mccabe==0.6.1
mysqlclient==2.1.0
packaging==21.3
platformdirs==2.4.1
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyJWT==1.7.1
pylint==2.12.2
pylint-django==2.5.0
pylint-plugin-utils==0.7
pyparsing==3.0.7
pytz==2021.3
requests==2.27.1
rsa==4.7
ruamel.yaml==0.17.17
ruamel.yaml.clib==0.2.2
six==1.16.0
sortedcontainers==2.4.0
sqlparse==0.4.2
toml==0.10.2
typing_extensions==4.0.1
uritemplate==4.1.1
urllib3==1.26.8
virtualenv==20.8.1
websocket-client==0.40.0
wrapt==1.13.3
dj-rest-auth==2.2.3
django-cors-headers==3.11.0
djangorestframework_simplejwt==5.1.0
boto3==1.24.10
jmespath==1.0.0
s3transfer==0.6.0
django-silk==5.0.1
celery[sqs]==5.2.6
botocore==1.27.66elas
elasticsearch==7.17.3
elasticsearch-dsl==7.4.0
PyMySQL==1.0.2
django-celery-beat==2.3.0
PyPDF2==2.2.0
PyMuPDF==1.21.1
docx2txt==0.8
pymongo==4.2.0
mongoengine==0.25.0
gunicorn==20.1.0
snowflake-id==0.0.2
spacy==3.4.4
psutil==5.9.4
