<!doctype html>
{% load static %}
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SBSY | Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'SchoolDesign/img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'SchoolDesign/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'SchoolDesign/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'SchoolDesign/fonts/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'SchoolDesign/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'SchoolDesign/style.css' %}">
    <script src="{% static 'SchoolDesign/js/modernizr-3.6.0.min.js' %}"></script>
    <style>
    .info{
        list-style:None;
        background-color:#FF0000;
        color:white;
        box-shadow: 12px 12px 12px #e61c66;
        text-align: center;
    }
        </style>
</head>
<body>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <!-- Login Page Start Here -->
    <div class="login-page-wrap" >
        <div class="login-page-content">
            <div class="login-box" style="padding: 3rem 4rem;padding-bottom: 0px;">
                <div class="item-logo">
                    <br><br>
                     <img src="{% static 'SchoolDesign/img/logo1.png' %}" alt="logo" width="260" height="100" />
                </div>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{message.tags}}"  {% endif %}>{{message}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <form action="" class="login-form" method="POST">
                    		{% csrf_token %}
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" placeholder="Enter username" class="form-control" name="username">
                        <i class="far fa-envelope"></i>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" placeholder="Enter password" class="form-control" name="password">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-between">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="remember-me">
                            <label for="remember-me" class="form-check-label">Remember Me</label>
                        </div>
                        <a href="/forget_password" class="forgot-btn">Forgot password?</a>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="login-btn">Login</button>
                    </div>

                    <div class="form-group" style="text-align: center;margin-bottom: 0px;">
                        <label>New School or Library? </label>&nbsp;
                        <a href="/lybrary/add" style="text-decoration: underline;font-weight: bold;">Click Here</a>
                    </div>
                    
                    <div class="form-group" style="text-align: center;">
                        <label style="font-weight:normal;">Customer Support </label>&nbsp;
                        <a href="#" style="text-decoration: underline;">9588707203</a>
                    </div>     
                </form>
            </div>
             <!-- <div class="sign-up"> Visit Our Demo School <a href="/demo_login" class="blinking">click here!</a></div> 
            <div class="sign-up"> Register New School <a href="/add_school" class="blinking">click here!</a></div>       
           -->
        </div>
    </div>
    <!-- jquery-->
        <script src="{% static 'SchoolDesign/js/jquery-3.3.1.min.js' %}"></script>
    <!-- Plugins js -->
        <script src="{% static 'SchoolDesign/js/plugins.js' %}"></script>
    <!-- Popper js -->
        <script src="{% static 'SchoolDesign/js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
        <script src="{% static 'SchoolDesign/js/bootstrap.min.js' %}"></script>
    <!-- Scroll Up Js -->
        <script src="{% static 'SchoolDesign/js/jquery.scrollUp.min.js' %}"></script>
    <!-- Custom Js -->
    <script src="{% static 'SchoolDesign/js/main.js' %}"></script>
</body>
</html>