<!doctype html>
{% load static %}
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>SBSY | Contact Us</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'SchoolDesign/img/favicon.png' %}">
	<link rel="stylesheet" href="{% static 'SchoolDesign/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'SchoolDesign/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'SchoolDesign/fonts/flaticon.css' %}">
	<link rel="stylesheet" href="{% static 'SchoolDesign/css/animate.min.css' %}">
	<link rel="stylesheet" href="{% static 'SchoolDesign/style.css' %}">
	<script src="{% static 'SchoolDesign/js/modernizr-3.6.0.min.js' %}"></script>
	<style>

		.align-items-center {
			-webkit-box-align: center !important;
			-ms-flex-align: center !important;
			align-items: center !important;
		}

		.justify-content-center {
			-webkit-box-pack: center !important;
			-ms-flex-pack: center !important;
			justify-content: center !important;
		}

		.d-flex {
			display: -webkit-box !important;
			display: -ms-flexbox !important;
			display: flex !important;
		}
		.pl-3, .px-3
		{
			margin-top: 10px;
		}
		@media only screen and (min-width: 801px) {
  .divleft {
    float:left;padding-right: 69px;margin-bottom: 26px;	border-right: 1px solid gray; 
  }
  .divRight {
	float:left;width: 430px; 
  }
}
	</style>
</head>

<body>
	<div class="login-page-wrap">
		<div class="login-page-content">
			<div class="login-box" style="padding: 3rem 4rem;padding-bottom: 0px;">
				<div class="divleft">
					<div class="row justify-content-center">
						<h2 class="heading-section">Send us a message</h2>
					</div>
					<form method="POST" id="contactForm" name="contactForm" class="login-form">
						{% csrf_token %}
						<div class="form-group">
							<input type="email" class="form-control" name="email" id="email" placeholder="Email">
						</div>
						<div class="form-group">

							<input type="text" class="form-control" name="name" id="name" placeholder="Name">
						</div>
						<div class="form-group">
							<input type="number" class="form-control" name="number" id="number" placeholder="Contact">
						</div>
						<div class="form-group">
							<textarea name="message" class="form-control" id="message" cols="30" rows="10"
								placeholder="Message" style="height: 85px;"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" value="Send" class="login-btn">
						</div>
					</form>
				</div>
				<div class="divRight">
					<div class="row justify-content-center">
						<h2 class="heading-section">Contact Us</h2>
					</div>
					<div class="d-flex align-items-stretch">
						<div class="info-wrap w-100 p-lg-5 p-4 img">
							<p class="mb-4">Please feel free to reach us on below or just have a chat with us</p>
							<div class="dbox w-100 d-flex align-items-start">
								<div class="icon d-flex align-items-center justify-content-center" style="margin-top: 16px;">
									<span class="fa fa-map-marker"></span>
								</div>
								<div class="text pl-3">
									<p><span>Address:</span> Shop No.11, Ground Floor, Dharamveer Market,
										Badarpur, New Delhi, 110044
										</p>
								</div>
							</div>
							<div class="dbox w-100 d-flex align-items-center">
								<div class="icon d-flex align-items-center justify-content-center" style="margin-top: -8px;">
									<span class="fa fa-phone"></span>
								</div>
								<div class="text pl-3">
									<p><span>Phone:</span> <a href="tel://9588707203">9588707203</a></p>
								</div>
							</div>
							<div class="dbox w-100 d-flex align-items-center">
								<div class="icon d-flex align-items-center justify-content-center" style="margin-top: -8px;">
									<span class="fa fa-paper-plane"></span>
								</div>
								<div class="text pl-3">
									<p><span>Email:</span> <a href="mailto:info@yoursite.com">support@sbsy.in</a></p>
								</div>
							</div>
							<div class="dbox w-100 d-flex align-items-center">
								<div class="icon d-flex align-items-center justify-content-center" style="margin-top: -8px;">
									<span class="fa fa-globe"></span>
								</div>
								<div class="text pl-3">
									<p><span>Website</span> <a href="#">sbsy.in</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="successMessage" style="padding:50px; display: none;">
					<h1 style="color:green;">Thank You!!</h1>
					<h4>Your message has sent successfully to sales team. <br>We will call you back in next 24 hours.</h4>
				</div>
			</div>
		</div>
	</div>
	<!-- Popper js -->
	<script src="{% static 'SchoolDesign/js/popper.min.js' %}"></script>
	<!-- Bootstrap js -->
	<script src="{% static 'SchoolDesign/js/bootstrap.min.js' %}"></script>
	<!-- Custom Js -->
	<script src="{% static 'SchoolDesign/js/main.js' %}"></script>
	<script src="js/main.js"></script>

</body>

</html>